.dropdown {
    position: relative;
    float: right;
    display: inline-block;
}

.dropdown li {
    #border: blue dotted 1px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: 100%; /** Set the width to 100% of it's parent */
    padding: 0;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/** Button Styles **/
.dropdown button {
    background: #427EFF;
    color: #FFFFFF;
    border: none;
    margin: 0;
    padding: 0.6em 0.8em;
    font-size: 1.2em;
    font-family:Verdana,Arial,sans-serif
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    #background: #CCCCCC;
    background: lightblue;
    color: #333333;
    font-style: italic;
    font-size: 12px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    #background: #BBBBBB;
    background: aliceblue;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
