* { 
	margin: 0; 
	padding: 0; 
}
body { 
/*	font: 14px/1.4 Georgia, Serif; */
}
#page-wrap {
	margin: 50px;
}
p {
	margin: 20px 0; 
}

/* Generic Styling, for Desktops/Laptops */
#browseTable table { 
	width: 100%; 
	border-collapse: collapse; 
}

/* Zebra striping */
#browseTable tr:nth-of-type(odd) { 
	background: #eee; 
}
#browseTable th { 
	background: #333; 
	color: white; 
	font-weight: bold; 
}
#browseTable td, #browseTable th { 
	padding: 6px; 
	border: 1px solid #fafafa; 
	text-align: left; 
}

/* 
 * 	Max width before this PARTICULAR table gets nasty
 * 		This query will take effect for any screen smaller than 760px
 * 			and also iPads specifically.
 * 				*/
	@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
	
		/* Force table to not be like tables anymore */
		#browseTable table, #browseTable thead, #browseTable tbody, #browseTable th, #browseTable td, #browseTable tr { 
			display: block; 
		}
		
		/* Hide table headers (but not display: none;, for accessibility) */
		#browseTable thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
		}
		
		#browseTable tr { border: 1px solid #ccc; }
		
		#browseTable td { 
			/* Behave  like a "row" */
			border: none;
			border-bottom: 1px solid #eee; 
			position: relative;
			padding-left: 50%; 
		}
		
		#browseTable td:before { 
			/* Now like a table header */
			position: absolute;
			/* Top/left values mimic padding */
			top: 6px;
			left: 6px;
			width: 45%; 
			padding-right: 10px; 
			white-space: nowrap;
		}
		
		/*
 * 		Label the data
 * 				*/
		#browseTable td:nth-of-type(1):before { content: "Select"; font-weight:bold; font-style: italic;}
		#browseTable td:nth-of-type(2):before { content: "Simulation Id."; font-weight:bold;}
		#browseTable td:nth-of-type(3):before { content: "Description"; font-weight:bold;}
		#browseTable td:nth-of-type(4):before { content: "Time"; font-weight:bold;}
		#browseTable td:nth-of-type(5):before { content: "Sequence"; font-weight:bold;}
	}


#browseTable_length select  { width:60px;  }	
#browseTable_filter input  { width:150px;  }
#tableSubmission td { padding-left:10px;  }

