body {
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #EBEBEB;
  }

.hero-unit {
  text-align: center;
  background-color: rgba(200, 200, 200, .7);
  box-shadow: 0px 0px 3px #bababa;
  border: 1px solid #EDEDED;
}
.hero-unit h1 {
  line-height: 1.2;
}

.owl-tree {
  font-size: 12px;
}

.owl-tree .nav {
  margin-bottom: 0px;
}

.owl-tree .pad-left-10 {
  padding-left: 10px;
}

#owl-viz {
  height: 500px;
}

/* Quick links
-------------------------------------------------- */
.bs-links {
  margin: 36px 0;
}
.quick-links {
  min-height: 30px;
  margin: 0;
  padding: 5px 20px;
  list-style: none;
  text-align: center;
  overflow: hidden;
}
.quick-links:first-child {
  min-height: 0;
}
.quick-links li {
  display: inline;
  margin: 0 5px;
  color: #999;
}
.quick-links .github-btn,
.quick-links .tweet-btn,
.quick-links .follow-btn {
  position: relative;
  top: 5px;
}